* {
    box-sizing: border-box;
    background-color: transparent;
}
.container{
    text-align: center;
}
.h1titleColor {
    background-color:darkgray;
    color: red;
}
.h2titleColor {
    background-color: darkgray;
    color: red;
}
.amazonasPosition {
    color: white;
    position: absolute;
    top: 82%;
    left: 52%;
}
.amazonasPosition:hover {
    color: red;
}
.santanderPosition {
    color: white;
    position: absolute;
    top: 35.4%;
    left: 44%;
}
.santanderPosition:hover {
    color: red;
}
.nariñoPosition {
    color:white;
    position: absolute;
    top: 66%;
    left: 17%;
}
.nariñoPosition:hover {
    color: red;
}
.guajiraPosition {
    color: white;
    position: absolute;
    top: 10.4%;
    left: 46.5%;
}
.guajiraPosition:hover {
    color: red;
}
.chocoPosition {
    color: white;
    position: absolute;
    top: 42%;
    left: 24%;
}
.chocoPosition:hover {
    color: red;
}
.MapContainer {
    background-color:beige;
    text-align: center;
}
.amazonasMap {
    width: 35em;
}
.alignSectors {
    display: flex;
    justify-content: center;
}
.santanderMap {
    width: 18em;
}
.guajiraMap {
    width: 25em;
}